.header
  align-content: center
  background: rgba(40, 44, 52, 0.9)
  display: flex
  height: 80px
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index 999
  &__container
    display: flex
    justify-content: space-between
    width: 100%

.nav
  margin: 0
  padding: 0
  display: flex
  align-items: center
  justify-content: flex-end

  &__element
    list-style: none
    margin-left: 30px

  a
    text-decoration: none
    position: relative
    padding: 10px 0
    width: 60px
    display: block
    text-align: right
    font-size: 14px
    color: #bcc8df
    transition: 1s ease all
    &:hover
      color: #37d377
      &::before
        background: #37d377
    &::before
      transition: 0.5s ease all
      content: ""
      position: absolute
      bottom: 0
      right: 0
      height: 2px
      width: 60px
      background: #fff
  &__register
    a
      &:hover
        color: #12baf2
        &::before
          background: #12baf2

@media screen and (max-width: 600px)
  .nav
    a
      color: #fff
      width: initial
      transition: none
      &::before
        width: 100%
        transition: none
     &__element
      margin-left: 15px
      