@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body, html
  margin: 0
  padding: 0

.Home
  background-image: url("https://cdn.discordapp.com/attachments/892890373469397074/1098011387218898955/asda.png")
  background-color: #333842
  background-attachment: fixed
  background-size: cover
  display: flex
  flex-direction: column
  font-family: 'Poppins', sans-serif;
  position: relative

.container
  margin: 0 auto
  max-width: 890px
  width: 100%
  padding: 0 20px

.logo
  display: flex
  align-items: center
  justify-content: center
  img
    height: 50px
    width: auto
  
  &__text
    margin-left: 10px
    font-size: 18px
  
  &__color1
    color: #37D377
  &__color2
    color: #12BAF2
  @media screen and (max-width: 600px)
    &__text
      display: none




.ger-button
  background: #00ACE6
  border: none
  border-bottom: 3px solid #80D6F3
  border-right: 3px solid #80D6F3
  border-radius: 10px
  height: 60px
  font-size: 18px
  padding: 0 20px
  width: 100%