@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}
.Home {
  background-image: url("https://cdn.discordapp.com/attachments/892890373469397074/1098011387218898955/asda.png");
  background-color: #333842;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 890px;
  padding: 0 20px;
}
.header {
  align-content: center;
  background: rgba(40,44,52,0.9);
  display: flex;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__element {
  list-style: none;
  margin-left: 30px;
}
.nav a {
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  width: 60px;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #bcc8df;
  transition: 1s ease all;
}
.nav a:hover {
  color: #37d377;
}
.nav a:hover::before {
  background: #37d377;
}
.nav a::before {
  transition: 0.5s ease all;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 60px;
  background: #fff;
}
.nav__register a:hover {
  color: #12baf2;
}
.nav__register a:hover::before {
  background: #12baf2;
}
@media screen and (max-width: 600px) {
  .nav a {
    color: #fff;
    width: initial;
    transition: none;
  }
  .nav a::before {
    width: 100%;
    transition: none;
  }
  .nav__element {
    margin-left: 15px;
  }
}
.cover-page {
  height: 100vh;
  color: #fff;
  display: flex;
}
.cover-page__container {
  position: relative;
  display: flex;
  align-items: center;
}
.cover-page__content {
  padding-right: 270px;
}
.cover-page__title {
  font-size: 40px;
  margin: 0;
  font-family: 'Righteous', cursive;
  font-weight: 400;
}
.cover-page__description {
  font-size: 16px;
  margin: 20px 0 0 0;
}
.cover-page__download {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
}
.cover-page__download a {
  display: block;
  margin-right: 30px;
}
.cover-page__download img {
  height: 40px;
  width: auto;
}
.cover-page__register {
  margin: 30px 0 0 0;
  width: 220px;
}
.cover-page__app {
  position: absolute;
  right: 20px;
  width: 250px;
  height: auto;
}
.cover-page__app img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .cover-page__app {
    display: none;
  }
  .cover-page__content {
    padding-right: 0;
  }
}
.time-line {
  margin: 0 auto;
  padding: 50px 0;
}
.time-line__title {
  color: #fff;
  font-family: 'Righteous', cursive;
  font-size: 35px;
  font-weight: 400;
  margin: 0 0 40px 0;
  text-align: center;
}
.register {
  color: #fff;
  box-sizing: border-box;
  padding: 0 20px;
}
.register__container {
  background: #333842;
  border-bottom: 3px solid #00ace6;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto 50px auto;
  max-width: 1024px;
  padding: 40px 50px;
}
.register p,
.register input {
  font-size: 14px;
}
.register__side {
  width: 50%;
}
.register__side:nth-child(1) {
  margin-right: 30px;
}
.register__content {
  display: flex;
  justify-content: space-around;
}
.register__title {
  font-size: 40px;
  margin: 0 0 20px 0;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  text-align: center;
}
.register__paragraph,
.register__input {
  margin: 15px 0 0 0;
}
.register__submit {
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  .register__side {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    min-width: initial;
    width: 100%;
  }
  .register__side:nth-child(1) {
    margin-top: 0;
    margin-right: auto;
    max-width: 400px;
  }
  .register__content {
    display: block;
  }
  .register__title {
    margin: 0 0 0 0;
  }
  .register__submit {
    margin-top: 20px;
  }
}
.register__success {
  text-align: center;
  display: none;
}
.register__message {
  font-size: 30px;
  margin: 100px 0;
  font-family: 'Righteous', cursive;
  color: #37d377;
}
.register__to-home {
  max-width: 300px;
  margin: 0 auto;
}
.register.is--registed .register__content,
.register.is--registed .register__submit {
  display: none;
}
.register.is--registed .register__success {
  display: block;
}
@media screen and (max-width: 700px) {
  .register.is--registed .register__content {
    display: none;
  }
}
.ger-button {
  background: #00ace6;
  border-bottom: 3px solid #80d6f3;
  border-radius: 10px;
  border-right: 3px solid #80d6f3;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  padding: 0 20px;
  transition: 0.5s ease background;
  transition: 0.5s ease color;
  width: 100%;
}
.ger-button:hover {
  color: #fff;
}
.ger-button:active {
  border-left: 3px solid #80d6f3;
  border-top: 3px solid #80d6f3;
}
.ger-button.is--small {
  height: 46px;
}
.gerinput {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.gerinput input {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  background: #555f73;
  border-radius: 7px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  display: block;
  display: flex;
  height: 46px;
  padding: 15px 17px;
  width: 100%;
}
.gerinput input:active,
.gerinput input:focus {
  outline: 0;
  border: none;
}
.gerinput input:focus::placeholder {
  color: #000;
}
.gerinput input::placeholder {
  font-style: italic;
  color: rgba(255,255,255,0.5);
}
.gerinput__check,
.gerinput__error {
  display: none;
  position: absolute;
  right: 15px;
}
.gerinput__alert {
  display: none;
}
.gerinput.is--verified .gerinput__alert,
.gerinput.is--error .gerinput__alert {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
}
.gerinput.is--verified .gerinput__alert {
  color: #00b84c;
}
.gerinput.is--verified .gerinput__check {
  display: flex;
}
.gerinput.is--error .gerinput__alert {
  color: #f65858;
}
.gerinput.is--error .gerinput__error {
  display: flex;
}
.gerinput.is--alert {
  padding-bottom: 20px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 50px;
  width: auto;
}
.logo__text {
  margin-left: 10px;
  font-size: 18px;
}
.logo__color1 {
  color: #37d377;
}
.logo__color2 {
  color: #12baf2;
}
@media screen and (max-width: 600px) {
  .logo__text {
    display: none;
  }
}
.timeline {
  background: #3d4452;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 40px 0;
  width: 70px;
}
.timeline__element {
  height: 140px;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  position: relative;
}
.timeline__element:nth-child(1) {
  margin-top: 0px;
}
.timeline__month {
  color: #fff;
}
.timeline__objective {
  position: absolute;
  top: 0;
  right: -33.33%;
  display: flex;
  min-width: 400px;
  border: 2px solid #00b84c;
  border-radius: 10px;
  height: 100%;
  align-items: center;
  background: rgba(0,184,76,0.5);
  background: linear-gradient(90deg, rgba(0,184,76,0.5) 0%, rgba(61,68,82,0) 100%);
}
.timeline__objective > * {
  width: 33.33%;
}
.timeline__element:nth-child(2n) .timeline__objective {
  border: 2px solid #12baf2;
  left: -33.33%;
  right: initial;
  flex-direction: row-reverse;
  background: rgba(18,186,242,0.5);
  background: linear-gradient(90deg, rgba(61,68,82,0) 0%, rgba(18,186,242,0.5) 100%);
}
.timeline__objective:after {
  content: '';
  width: 1px;
  height: 1px;
}
.timeline__paragraph {
  color: #fff;
}
.timeline__icon svg {
  height: 100px;
}
@media screen and (max-width: 700px) {
  .timeline {
    width: 100%;
    background: none;
    position: relative;
  }
  .timeline:before {
    content: "";
    width: 70px;
    height: 100%;
    background: #3d4452;
    position: absolute;
    left: calc(8% - 13px);
    top: 0;
    border-radius: 10px;
  }
  .timeline__element:nth-child(2n) .timeline__objective {
    right: initial;
    left: initial;
  }
  .timeline__objective {
    position: relative;
    right: initial;
    left: initial;
    flex-direction: row-reverse;
    width: 100%;
    min-width: initial;
  }
  .timeline__month {
    position: absolute;
    left: 8%;
  }
  .timeline__icon svg {
    height: 70px;
  }
  .timeline__paragraph {
    min-width: 100px;
  }
}
