// ========================
// Default form
// ========================
.register
  color: #fff
  box-sizing: border-box
  padding: 0 20px
  &__container
    background: #333842
    border-bottom: 3px solid #00ACE6
    border-radius: 10px
    box-sizing: border-box
    margin: 0 auto 50px auto
    max-width: 1024px
    padding: 40px 50px

  p, input
    font-size: 14px

  &__side
    width: 50%
  &__side:nth-child(1)
    margin-right: 30px
  &__content
    display: flex
    justify-content: space-around

  &__title
    font-size: 40px
    margin: 0 0 20px 0
    font-family: 'Righteous', cursive;
    font-weight: 400
    text-align: center
  &__paragraph,
  &__input
    margin: 15px 0 0 0
  &__submit
    margin-top: 40px

@media screen and (max-width: 700px)
  .register
    &__side
      margin-top: 40px
      margin-left: auto
      margin-right: auto
      min-width: initial
      width: 100%
    &__side:nth-child(1)
      margin-top: 0
      margin-right: auto
      max-width: 400px
    &__content
      display: block
    &__title
      margin: 0 0 0 0
    &__submit
      margin-top: 20px


// ========================
// Success Message
// ========================
.register
  &__success
    text-align: center
    display: none
  &__message
    font-size: 30px
    margin: 100px 0
    font-family: 'Righteous', cursive
    color: #37D377
  &__to-home
    max-width: 300px;
    margin: 0 auto;


// ========================
// Registed state
// ========================
.register.is--registed
  .register__content,
  .register__submit
    display: none
  .register__success
    display: block
  @media screen and (max-width: 700px)
    .register__content
      display: none