.Home
  background-image: url("https://cdn.discordapp.com/attachments/892890373469397074/1098011387218898955/asda.png")
  background-color: #333842
  background-attachment: fixed
  background-size: cover
  display: flex
  flex-direction: column
  font-family: 'Poppins', sans-serif;
  position: relative

.container
  margin: 0 auto
  max-width: 890px
  padding: 0 20px
